@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;900&family=Poppins:wght@200;400;700;900&display=swap");

body {
	font-size: 1rem;
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	width: 10px;
	/* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: rgb(214, 214, 214);
	/* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(76, 76, 76);
	/* color of the scroll thumb */
	border-radius: 20px;
	/* roundness of the scroll thumb */
	border: 1px solid rgb(121, 121, 121);
	/* creates padding around scroll thumb */
}

/* CSS do componente EditorTexto */

.editor-class {
	background-color: #fafafa;
	padding: 1rem;
	border: 1px solid #ccc;
	min-height: 150px;
	max-height: 150px;
}
